
<h1>
"welcome to "
<span class="glyphicon glyphicon-book">
<strong>Bookers</strong>
</span></h1>
<p>you can share and exchange  your opinions , inpressions , and emotions</p>
<p> about various books!</p>
<p><%= link_to "log In", new_user_session_path, class:"text-muted btn btn-info btn-block col-xs-8 " %></p>
<%= link_to "Sign Up", new_user_registration_path, class:"text-muted btn btn-success btn-block col-xs-8 "%>
